* { 
  margin:0; 
  padding:0; 
  box-sizing:border-box;
  /* background: black;  */

}


body {
  position: fixed;
  /* overflow: hidden; */
  width: 100vw;
  margin:0; padding:0;
  box-sizing:border-box;
  max-height: 120vh;
  transform: translateY(0px);
  /* transition: transform 1s; */
}

.app {
  overflow: hidden;
}

.App {
  height: 100vh;
  width: 100vw;
}

.cityListContainer{
    background: yellow;
    /* height: auto; */
    height: auto;
    width: 100%;
    overflow-x: hidden
}

.plusBtn {
  float: right;
  border: 1px solid black;
  border-radius: 50%;
  margin-right: 2%;
}


